{% include "navigation-script.html" %}

<div class="grid__row">
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/index.html">
            <img src="{{ baseUrl }}/graphicsfinal/greenonehomepage.gif" width="191" height="30" border="0" />
        </a>
    </div>
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/findhomes.htm" onMouseOver="MM_showMenu(window.mm_menu_1208132004_0,0,30,null,'image1')" onmouseout="MM_startTimeout();">
            <img src="{{ baseUrl }}/graphicsfinal/blueone_ofindhomes.gif" alt="Find Homes" name="image1" width="191" height="30" border="0" id="image1">
        </a>
    </div>
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/buyers.htm" onMouseOver="MM_showMenu(window.mm_menu_1208133742_0,0,30,null,'image2')" onmouseout="MM_startTimeout();">
            <img src="{{ baseUrl }}/graphicsfinal/redone_obuyers.gif" alt="Buyers" name="image2" width="191" height="30" border="0" id="image2">
        </a>
    </div>
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/sellers.htm" onMouseOver="MM_showMenu(window.mm_menu_1208134506_0,0,30,null,'image3')" onmouseout="MM_startTimeout();">
            <img src="{{ baseUrl }}/graphicsfinal/greenone_sellers.gif" alt="Sellers" name="image3" width="191" height="30" border="0" id="image3">
        </a>
    </div>
</div>

{% include "multiple-slides/multiple-slides-container.html" %}

<div class="grid__row">
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/srs.html" onmouseover="MM_showMenu(window.mm_menu_1208142757_0, 0, 30, null, 'image5')" onmouseout="MM_startTimeout();">
            <img src="{{ baseUrl }}/graphicsfinal/redone_oSeniors_realEstate.gif" alt="Seniors Real Estate" onmouseover="MM_showHideLayers('schoolicon', '', 'hide');" onmouseout="remain=setTimeout('show12()', 6000)" id="image5" />
        </a>
    </div>
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/rs.html" onmouseover="MM_showMenu(window.mm_menu_12111122004_0, 0, 30, null, 'image4')" onmouseout="MM_startTimeout();">
            <img src="{{ baseUrl }}/graphicsfinal/greenone_relocationresouces.gif" alt="Relocation Resources" id="image4" />
        </a>
    </div>
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/informationlinks.html" onmouseover="MM_showMenu(window.mm_menu_1208143229_0, 0, 30, null, 'image7')" onmouseout="MM_startTimeout();">
            <img src="{{ baseUrl }}/graphicsfinal/blueone_oinformationlinks.gif" alt="Information Links" image="image7" />
        </a>
    </div>
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/aboutme.html" onmouseover="MM_showMenu(window.mm_menu_1208143106_0, 0, 30, null, 'image6')" onmouseout="MM_startTimeout();">
            <img src="{{ baseUrl }}/graphicsfinal/redone_oabouteme.gif" alt="About Me" id="image6" />
        </a>
    </div>
</div>