{% include "navigation-script.html" %}

<div class="grid__row">
    <div class="grid__col-12/12">
        <ul class="menu">
            <li class="menu-item has-children">
                <a href="#">
                    Find Homes
                    <span class="dropdown-icon"></span>
                </a>
                <ul class="sub-menu">
                    <li class="menu-item">
                        <a href="#">Featured Listings</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Community Listings</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">All Listings</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Nationwide Listings</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">International Listings</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Feng Shui Homes</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Luxury &amp; Golf Communities</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Find an Agent</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Agent to Agent</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Foreclosure Listings</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="#">Buyers</a>
            </li>
            <li class="menu-item">
                <a href="#">Sellers</a>
            </li>
            <li class="menu-item">
                <a href="#">Seniors Real Estate</a>
            </li>
            <li class="menu-item">
                <a href="#">Relocation Resources</a>
            </li>
            <li class="menu-item">
                <a href="#">Information Links</a>
            </li>
            <li class="menu-item">
                <a href="#">About Me</a>
            </li>
        </ul>
    </div>

    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/index.html" class="background green">
            Home Page
            <!--<img src="{{ baseUrl }}/graphicsfinal/greenonehomepage.gif" width="191" height="30" border="0" />-->
        </a>
    </div>
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/findhomes.htm" class="background blue" onMouseOver="MM_showMenu(window.mm_menu_1208132004_0,0,30,null,'image1')" onmouseout="MM_startTimeout();">
            Find Homes
            <!--<img src="{{ baseUrl }}/graphicsfinal/blueone_ofindhomes.gif" alt="Find Homes" name="image1" width="191" height="30" border="0" id="image1">-->
        </a>
        <ul>
            <li>
                <a href="#">Featured Listings</a>
            </li>
            <li>
                <a href="#">Community Listings</a>
            </li>
            <li>
                <a href="#">All Listings</a>
            </li>
            <li>
                <a href="#">Nationwide Listings</a>
            </li>
            <li>
                <a href="#">International Listings</a>
            </li>
            <li>
                <a href="#">Feng Shui Homes</a>
            </li>
            <li>
                <a href="#">Luxury &amp; Golf Communities</a>
            </li>
            <li>
                <a href="#">Find an Agent</a>
            </li>
            <li>
                <a href="#">Agent to Agent</a>
            </li>
            <li>
                <a href="#">Foreclosure Listings</a>
            </li>
        </ul>
    </div>
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/buyers.htm" class="background red" onMouseOver="MM_showMenu(window.mm_menu_1208133742_0,0,30,null,'image2')" onmouseout="MM_startTimeout();">
            Buyers
            <!--<img src="{{ baseUrl }}/graphicsfinal/redone_obuyers.gif" alt="Buyers" name="image2" width="191" height="30" border="0" id="image2">-->
        </a>
    </div>
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/sellers.htm" class="background green" onMouseOver="MM_showMenu(window.mm_menu_1208134506_0,0,30,null,'image3')" onmouseout="MM_startTimeout();">
            Sellers
            <!--<img src="{{ baseUrl }}/graphicsfinal/greenone_sellers.gif" alt="Sellers" name="image3" width="191" height="30" border="0" id="image3">-->
        </a>
    </div>
</div>

{% include "multiple-slides/multiple-slides-container.html" %}

<div class="grid__row">
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/srs.html" class="background red" onmouseover="MM_showMenu(window.mm_menu_1208142757_0, 0, 30, null, 'image5')" onmouseout="MM_startTimeout();">
            Seniors Real Estate
            <!--<img src="{{ baseUrl }}/graphicsfinal/redone_oSeniors_realEstate.gif" alt="Seniors Real Estate" onmouseover="MM_showHideLayers('schoolicon', '', 'hide');" onmouseout="remain=setTimeout('show12()', 6000)" id="image5" />-->
        </a>
    </div>
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/rs.html" class="background green" onmouseover="MM_showMenu(window.mm_menu_12111122004_0, 0, 30, null, 'image4')" onmouseout="MM_startTimeout();">
            Relocation Resources
            <!--<img src="{{ baseUrl }}/graphicsfinal/greenone_relocationresouces.gif" alt="Relocation Resources" id="image4" />-->
        </a>
    </div>
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/informationlinks.html" class="background blue" onmouseover="MM_showMenu(window.mm_menu_1208143229_0, 0, 30, null, 'image7')" onmouseout="MM_startTimeout();">
            Information Links
            <!--<img src="{{ baseUrl }}/graphicsfinal/blueone_oinformationlinks.gif" alt="Information Links" image="image7" />-->
        </a>
    </div>
    <div class="grid__col-3/12">
        <a href="{{ baseUrl }}/buyers/aboutme.html" class="background red" onmouseover="MM_showMenu(window.mm_menu_1208143106_0, 0, 30, null, 'image6')" onmouseout="MM_startTimeout();">
            About Me
            <!--<img src="{{ baseUrl }}/graphicsfinal/redone_oabouteme.gif" alt="About Me" id="image6" />-->
        </a>
    </div>
</div>